* {
    margin: 0;
    padding: 0;
}

#msg {
    color: red;
}

.container form {
    width: 40% !important;
}

@media screen and (max-width: 768px) {
    .container form {
        width: 100% !important;
    }
}